<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome !!!!!! </h1>
    <form action="/check" method="POST">
        <label for="id">Customer Id</label>
        <input type="number" id="id" placeholder="Enter the customer id" name="c_id"><br><br>
        <label for="Username"> username</label>
        <input type="text" id="Username" placeholder="Enter the username" name="Username"><br><br>
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter the email" name="Email"><br><br>
        <button>login</button><br><br>
    </form>
    <form action="/register" method="GET">
        <button>Register</button>
    </form>
</body>
</html>